 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
 <h1>Hola Mundo</h1>

 

 <h1>Bindeo</h1><input type="text" [(ngModel)]="title" >
 {{title}}
<br>
  
 <button (click)="HacerCambios()">Cambiar!</button>
  
 
 
<br>
<br>
   <!-- Footer -->
   <footer>
 Angular
  </footer>
 
</body>
</html>
<!--router-outlet></router-outlet-->